.bleu {
    border: solid blue 2px;

}

.vert {
    border: solid green 2px;

}

.orange{
    border: solid orange 2px;

}

.rouge{
    border: solid red 2px;

}

.hidden {
	display:none;
}

.tabs {
    padding: 1em;
}

[role="tablist"] {
    margin-bottom: -1px;
}

[role="tab"] {
    position: relative;
    z-index: 1;
    background: white;
    border-radius: 5px 5px 0 0;
    border: 1px solid grey;
    border-bottom: 0;
    padding: 0.2em;
}

[role="tab"][aria-selected="true"] {
    z-index: 3;
}

[role="tabpanel"] {
    position: relative;
    padding: 0 0.5em 0.5em 0.7em;
    border: 1px solid grey;
    border-radius: 0 0 5px 5px;
    background: white;
    z-index: 2;
}

[role="tabpanel"]:focus {
    border-color: black;
    outline: 1px solid black;
}
